.carousel {
  position: relative;
  display: flex;
  justify-content: center;

 &_div{
@media (max-width: 767px){
    margin-left: 15px;
    margin-right: 10px;
}

  &--span {
    display: flex;
    width: 90vw;
    @media (max-width: 767px){
      width: 95vw;
    }
  }

    &--img {
      // position: absolute;
      height: 415px;
      width: 100%;
      border-radius: 25px;      
    }
  
}
  &_count {
    position: absolute;
    bottom: 25px;
    left: 50%;
    z-index: 1;
    color: white;
  }
  &_arrow--right {
    position: absolute;
    bottom: 40%;
    right: 25px;
    z-index: 1;

    @media (max-width: 767px){
      height: 25px;
      bottom: 50%;
    }
  }

  &_arrow--left {
    position: absolute;
    bottom: 40%;
    left: 25px;
    z-index: 1;
    @media (max-width: 767px){
      height: 25px;
      bottom: 50%;
    }
  }
}

.no-picture {
  display: none;
}
