html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 50px;

  @media (max-width: 767px){
    margin-bottom: 260px;
  }
  &-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 8% 70px 8%;
    gap: 30px;

    @media (max-width: 767px) {
      padding: 0;
      margin: 19px 5% 19px 5%;
      gap: 20px;
    }
  }
}
