.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    color: #ff6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 60%;

    &--p {
      color: #ff6060;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 160.6%;
    }
  }
  & > a {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;
    margin-bottom: 139px;
  }
}
