.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px 8% 50px 8%;

  @media (max-width: 767px) {
    margin: 20px 5% 20px 5%;
    gap: 25%;
  }

  &_logo {
    height: 68px;

    @media (max-width: 767px) {
      height: 46px;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    width: 21%;
    gap: 40px;

    @media (max-width: 1024px) {
      width: 29%;
    }
    @media (max-width: 767px) {
      gap: 10%;
      width: 26%;
    }
    & > a {
      color: #ff6060;
      text-align: right;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      text-decoration: none;

      @media (max-width: 767px) {
        font-size: 17px;
      }

      &_active {
        text-decoration: underline;
      }
    }
  }
}
