.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  gap: 28px;
  height: 209px;
  width: 100%;
  position: absolute;

  &_logo {
    fill: rgb(69, 52, 52);
  }
}
