.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px 8% 50px 8%;
  border-radius: 50px;

  @media (max-width: 767px) {
    margin: 20px 5% 20px 5%;
  }

  &_title {
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 100%;
      width: 46%;
      left: 20px;
    }
  }

  &_img {
    object-fit: cover;
    height: 225px;
    width: 100%;
    border-radius: 25px;
    @media (max-width: 767px) {
      height: 110px;
      border-radius: 10px;
    }
  }
}
